@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@layer base {
  body {
    font-family: "Outfit", sans-serif;
  }

  button {
    cursor: pointer;
  }

  input:not([type="checkbox"]),
  textarea {
    outline: none;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
  }

  input:not([type="checkbox"]):focus,
  textarea:focus {
    --tw-ring-color: #3b82f6;
    border-color: #3b82f6;
  }

  textarea {
    resize: none;
  }
}